@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@mixin pointer-on-hover {
    &:hover {
        cursor: pointer;
    }
}
$el-bg-color: rgba(0, 0, 0, 0.65);

body {
    display: flex;
    flex-direction: column;
    background-image: url(./img/vegetables-background.jpeg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    width: 100vw;
    height: 6rem;
    background-color: $el-bg-color;

    #logo {
        font-size: 2.7rem;
        font-weight: 500;
        padding-left: 1rem;
        white-space: nowrap;
        @include pointer-on-hover;
    }
    
    .nav {
        display: flex;
        gap: 2.5rem;
        font-size: 1.7rem;
        padding-right: 1rem;
        @include pointer-on-hover;
    }
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-grow: 1;

    #frame {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        width: 700px;
        height: 500px;
        padding: 1rem;
        border-radius: 3rem;
        background-color: $el-bg-color;
        font-size: 1.4rem;
        text-align: center;
        line-height: 2rem;

        .title {
            padding-top: 2rem;
            font-size: 3.5rem;
        }

        .dishes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            width: 650px;
            height: 250px;


            .dish {
                width: 250px;
                height: 250px;

                .dish-image {
                    width: 150px;
                    height: auto;
                    border: white solid 2px;
                    border-radius: 100%;
                }

                .dish-name {
                    font-size: 1.2rem;
                }

                .dish-description {
                    margin: .6rem 0 .5rem 0;
                    font-size: .8rem;
                    line-height: 1rem;
                }

                .price {
                    font-size: 1.2rem;
                }
            }

        }

        #smiling-girl {
            width: 200px;
            height: auto;
            border-radius: 200px;
        }

        #contact-container {
            display: flex;
            margin-top: 25px;
            gap: 30px;
            text-align: left;

            #contact-info {
                width: 250px;
                font-size: 1.1rem;
                line-height: 1rem;
            }

            #restaurant-name {
                font-size: 2rem;
            }

            #info {
                margin-top: 50px;
            }

            .small-font {
                font-size: .9rem;
                line-height: 1.2rem;
                margin-top: .4rem;
                letter-spacing: .03rem;
            }

            iframe {
                height: 450px;
                width: 350px;
                border: none;
                border-radius: 5%;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100vw;
    text-align: center;
    font-size: 1rem;
    background-color: $el-bg-color;
}

#github {
    height: 1.8rem;
    width: 1.8rem;
    padding-bottom: 0.2vh;
    transition: 0.3s;
}

#github:hover {
    transform: scale(1.1);
}